* {
    margin: 0;
    padding: 0;
}

.div1 {
    background-color: pink;
    height: 100vh;
}

.div2 {
    background-color: purple;
    height: 100vh;
}

.square {
    height: 150px;
    width: 150px;
    background-color: blue;
}